
  <footer id="footer">
		<div class="container">
						<div id="footer-social">
				<a href="https://www.facebook.com/angel.le.56808" target="_blank"><i class="fa fa-facebook"></i> <span>Facebook</span></a>				<a href="https://twitter.com/Nhi70179854" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a>				<a href="https://www.instagram.com/me_abroad_/" target="_blank"><i class="fa fa-instagram"></i> <span>Instagram</span></a>		<a href="https://www.pinterest.com/angelnhi212/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i> <span>Pinterest</span></a>				<a href="https://www.youtube.com/channel/UCXv7WXKpmXXmRb-8Qr_sTUQ/featured" target="_blank"><i class="fa fa-youtube-play"></i> <span>Youtube</span></a>
			</div>
			<div id="footer-copyright">
				<p class="copyright">© 2018 - TravelLovers. All Rights Reserved. </p>
			</div>
		</div>
	</footer>

</div>
<!-- JavaScript for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
<!-- Custom JavaScript -->

  </body>
</html>
