<% include ./partials/header %>


<head>
  <link rel="stylesheet" href="/LoginPage.css">
</head>

<div class="container">
  <div class="loginForm">
          <form method="post" action="/LoginPage">
            <div>
              <h2>Wellcome Back!</h2>
            </div>

          <div class="form-group">
            <label>Usermame</label>
            <input type="textField" name="username" class="form-control" placeholder="Username">
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>

          <hr class="style14">
          <button class="btn btn-outline-secondary btn-block btn-lg">Log In</button>
          <br>

          <p style="center">Developed and designed by Bobgel</p>

        </form>
  </div>
</div>

<% include ./partials/footer %>
