

.loginForm {
  margin: 30px auto;
  width: 300px;
  padding: 10px;
  background-color: white;
  border: solid 1px rgb(44,91,101);
  border-radius: 1%;
}

#button{
	background-color: rgb(34,34,34);
	color: DIMGREY;
}
#button:hover{
	color: white;
}
