body a{
  text-decoration: none;
}
body{
  /*background-color: rgb(245, 245, 245);*/
  /*color: rgb(44,91,101);*/
  /*font-family: 'Josefin Slab', serif;*/
}
#brand {
  color: rgb(44,91,101);
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}
#brand:hover{
  color: grey;
}
header a{
  color: rgb(44,91,101);
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
}
header a:hover{
  color: grey;
}
header .btn{
  color: rgb(44,91,101);
  font-family: 'Josefin Slab', serif;
}
.body{
  margin: 2rem auto;
  padding: 2rem;
}
#post-card{
  max-width: 100%;
}
#socialIcons{
  margin: auto 10px;
  color: grey;
}
#socilaArea{
  text-align: center;
}
#bottomNav{
  margin: auto;
}
.showcase{
  max-height: 420px;
  object-fit:cover;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.footer{
  border-top: solid grey 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
.left{
  margin: 0;
}
#question{
  width: 100%;
}
.content{
  max-height: 250px;
  overflow: scroll;
}
.centered{
  text-align: center;
  font-weight: 300;
}
#footer{
  margin-top: 20px;
  border-top: solid grey 1px;
}
#footer .container{
  text-align: center;
}
#footer-social{
  padding: 10px;
}
#footer-social a{
  color: rgb(44,91,101);;
  margin: 0 20px;
}
.container1{
  margin: 30px auto;
  width: 90%;
}
.hr1{
  width: 120px;
  border-top: 1px solid #8c8b8b;
}
.card-title{
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0;
}
.card-body a{
  text-decoration: none;
  color: black;
}
.card{
  border-color: white;
}
.instagramfooter{
  text-align: center;
  height: 200px;
}
.instagramfooter img{
  max-height: 160px;;
  max-width: 100%;
}
.profile{
  width: 70%;
  margin: 0 auto;
}
